<a
  ...attributes
  href={{this.shareURL}}
  target="_blank"
  rel="external nofollow noopener noreferrer"
  class="share button" {{!-- class attributes are concatenated instead of last-write wins --}}
>
  {{yield}}
</a>