<Jumbo>
  <h2>Welcome to Super Rentals!</h2>
    <p>We hope you find exactly what you're looking for in a place to stay.</p>
    <LinkTo @route="about" class="button">
      About Us
    </LinkTo>
</Jumbo>

<div class="rentals">
  <ul class="results">
    {{!-- As data are fetched through model() hook (@model), @model is futher broken down into each element as "rental" and each is passed to the component via @rental={{rental}} --}}
    {{#each @model as |rental|}}
      <li><Rental @rental={{rental}} /></li>
    {{/each}}
  </ul>
</div>